######################
###  CODE OWNERS   ###
######################

# CODEOWNERS
/CODEOWNERS @lukqw @alexrashed

# Template for new extensions
/template/ @lukqw

######################
###   Extensions   ###
######################

/aws-proxy/ @whummer @nik-localstack
/diagnosis-viewer/ @silv-io
/hello-world/ @lukqw
/http-bin/ @dominikschubert
/mailhog/ @lukqw
/miniflare/ @whummer @HarshCasper
/stripe/ @lukqw
/typedb/ @whummer @purcell
